@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face
{
  font-family: "GilroyRegular";
  src: local("GilroyRegular"),
    url("./fonts//SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: normal;
}

html
{
  font-family: "GilroyRegular";
  color: rgb(38, 38, 38);
}

.bgRestaurant
{
  background-image: linear-gradient(to bottom, rgba(38, 38, 38, 0.8),
      rgb(38, 38, 38, 0.1), rgb(38, 38, 38)),
    url('./Image/restaurant\ card.png');
  background-size: cover;
}

.bgReservation
{
  background-image: linear-gradient(to bottom, rgba(38, 38, 38, 0.8),
      rgb(38, 38, 38, 0.1), rgb(38, 38, 38)),
    url('./Image/reservation.png');
}

.gradient
{

  background-image: url('./Image//gradiant.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


}

.contactGradient
{
  background-image: url('./Image/gradiant\ form.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mask1
{
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}